
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482460294977'); /* IE9*/
  src: url('iconfont.eot?t=1482460294977#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482460294977') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482460294977') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482460294977#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook:before { content: "\f000f"; }

.icon-twitter:before { content: "\e634"; }

.icon-gift:before { content: "\e609"; }

.icon-pinterest:before { content: "\e621"; }

.icon-book:before { content: "\e627"; }

.icon-user:before { content: "\e6e8"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-diannao:before { content: "\e60d"; }

.icon-eye:before { content: "\e6c0"; }

.icon-youtube:before { content: "\e6d7"; }

.icon-code:before { content: "\e601"; }

.icon-bullhorn:before { content: "\e65d"; }

.icon-jiantouarrow483:before { content: "\e695"; }

.icon-dribbble:before { content: "\e6c8"; }

.icon-cogs:before { content: "\e73f"; }

.icon-google:before { content: "\e635"; }

.icon-skype-copy:before { content: "\e602"; }

.icon-wailian:before { content: "\e66f"; }

.icon-linkedin:before { content: "\e62e"; }

.icon-github:before { content: "\e691"; }

